ul li{ 
    float: left;
    margin: 0;
    background-color: darkgray;
    list-style: none;
    width: 25%;
    box-sizing: border-box;
    height: 320px;
}
ul li img{
    display: block;
    height: 300px;
    width: 80%;
    margin: 10px auto;
    object-position: center center;
    object-fit: cover;


}
    

ul li:nth-child(even){
    border: 2 px solid red;
}
