#contenitoreEsterno {
	background-color: red;
    width: 500px;
	height: 500px;
	position: relative;
    margin: 0 auto;
	
}

#contenitoreEsterno .contenitore {
	width: 200px;
	height: 200px;
    position: absolute;
}

#contenitoreEsterno .contenitore p {
	text-align: center;
	color: inherit;
}

#contenitoreEsterno .contenitore:nth-child(1) {
	bottom: -50px;
	left: -50px;
	z-index: 999;
    background-color: green;
	color: white;
}

#contenitoreEsterno .contenitore:nth-child(2) {
	background-color: blue;
	color: yellow;
	top: 0px;
	right: 0px;

}

#contenitoreEsterno .contenitore:nth-child(3) {
	bottom: 0px;
	left: 0px;
    background-color: yellow;
	color: black;

}







