
body{
    text-align: center;
}
    
div{display: flex;
    margin: 30px 10px 10px 10px;
    padding: 10px;
    width: 450px;
    background-color:#9c9c9c;
    
   }
   #primoparagrafo{ 
    background-color:cornflowerblue;
    margin: 10px;
    margin-left: 10%;
   
   }
   #secondoparagrafo{
 background-color: blue;
 margin: 10px;
 margin-right: 10%;

   }
   